{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Produits</h1>
            <p class="lead text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, veniam, eius aliquam quidem rem sunt nam quaerat facilis ex error placeat ipsa illo sed inventore soluta ipsum cumque atque ea?</p>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Produits</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Filtres</div>
                    <form action="" method="post">
                        <ul class="list-group">
                            {% set colors = [] %}
                            {% for p in allColors %}
                                {% for c in p.color %}
                                    {% if c not in colors %}
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input type="checkbox" name="color[]" value="{{ c }}" class="form-check-input" id="color-{{ c }}">
                                            <label class="form-check-label" for="color-{{ c }}">{{ c }}</label>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% set colors = colors|merge([ c ]) %}
                                {% endfor %}
                            {% endfor %}
{#                            {{ dump(colors) }}#}
                            <li class="list-group-item">
                                <button class="btn btn-primary btn-block">Filtrer</button>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Catégories</div>
                    <ul class="list-group category_block">
                        {% for category in categories %}
                        <li class="list-group-item"><a href="category.html">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% for lastP in last %}
                <div class="card bg-light mb-3">
                    <div class="card-header bg-success text-white text-uppercase">Dernier produit</div>
                    <div class="card-body">
                        <img class="img-fluid" src="https://dummyimage.com/600x400/55595c/fff" />
                        <h5 class="card-title mt-3">{{ lastP.name }}</h5>
                        <p class="card-text">{{ lastP.description }}</p>
                        {% if lastP.promotion %}
                            <p class="bloc_left_price">{{ (lastP.price / 100) * (1 - lastP.promotion / 100)}} &euro;</p>
                        {% else %}
                            <p class="bloc_left_price">{{ lastP.price /100 }} &euro;</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col">
                <div class="row">
                    {% for product in products %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><a href="{{ path('product_show', { slug: product.slug }) }}" title="View Product">{{ product.name }}</a></h4>
                                <p class="card-text">{{ product.description |slice(0,50) }}...</p>
                                <div class="row">
                                    {% if product.promotion %}
                                        <p class="btn btn-danger btn-block">{{ (product.price / 100) * (1 - product.promotion / 100)}} &euro;</p>
                                    {% else %}
                                        <p class="btn btn-danger btn-block">{{ product.price / 100}} &euro;</p>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <a href="#" class="btn btn-success btn-block">Ajouter au panier</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Précédent</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Suivant</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
