<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}
            <title>Ecommerce !</title>
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap-tagsinput.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            {{ include('_navbar.html.twig') }}
        </header>

        <div>
            {% block body %}{% endblock %}
        </div>
        <footer>
            {{ include('_footer.html.twig') }}
        </footer>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
            <script src="{{ asset('vendor/bootstrap-tagsinput.min.js') }}"></script>
            {# <script src="{{ asset('js/app.js') }}"></script>#}
        {% endblock %}
    </body>
</html>
